In [1]:
import pandas as pd
import numpy as np

## Data 로드

In [2]:
trade_data_df = pd.read_csv('./data/pyeong_complex.csv')

C:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (47) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# 1. 병원 데이터 반영

In [3]:
hospitalFile = open('./data/complexNo_dist_hospital.txt', 'r', encoding='ANSI')
hospitalFile = hospitalFile.read().split('\n')[:-1]

hospitalDist = {}
for content in hospitalFile:
    content = content.split(' ')
    hospitalDist[int(content[0])] = float(content[1])
print(len(hospitalDist))

8812

In [5]:
trade_data_df['distHospital'] = trade_data_df.apply(lambda x: hospitalDist[x['complexNo']], axis=1)

In [6]:
trade_data_df

,idx,Unnamed: 0,id,complexNo,pyeongNo,supplyArea,pyeongName,supplyPyeong,pyeongName2,exclusiveArea,...,복합식,HF001,HF002,HT001,HT002,HT005,A01,A03,volume,distHospital
0,0,0,1,1,1,82.29,82,24.89,24,59.13,...,0,1,0,1,0,0,1,0,10486.0,1304.69
1,1,1,12175,1,2,89.83,89,27.17,27,69.21,...,0,1,0,1,0,0,1,0,10486.0,1304.69
2,2,2,23436,1,4,103.32,103,31.25,31,84.73,...,0,1,0,1,0,0,1,0,10486.0,1304.69
3,3,3,32899,1,3,104.86,104,31.72,31,80.80,...,0,1,0,1,0,0,1,0,10486.0,1304.69
4,4,4,2,10,1,55.51,55,16.79,16,37.67,...,0,0,1,0,0,1,1,0,26.0,634.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46304,46304,46304,12174,9999,1,44.91,44,13.58,13,36.86,...,0,1,0,1,0,0,1,0,18.0,1277.56
46305,46305,46305,23435,9999,2,48.38,48,14.63,14,39.69,...,0,1,0,1,0,0,1,0,18.0,1277.56
46306,46306,46306,32900,9999,4,68.92,68A,20.84,20A,56.57,...,0,1,0,1,0,0,1,0,18.0,1277.56
46307,46307,46307,40281,9999,5,70.40,70B,21.29,21B,57.79,...,0,1,0,1,0,0,1,0,18.0,1277.56
46308,46308,46308,45897,9999,3,72.20,72,21.84,21,59.27,...,0,1,0,1,0,0,1,0,18.0,1277.56

# 2. 지하철역 데이터 반영

In [7]:
stationFile = open('./data/complexNo_dist_station.txt', 'r', encoding='ANSI')
stationFile = stationFile.read().split('\n')[:-1]

stationDist = {}
for content in stationFile:
    content = content.split(' ')
    stationDist[int(content[0])] = float(content[1])
print(len(stationDist))

8812

In [9]:
trade_data_df['distStation'] = trade_data_df.apply(lambda x: stationDist[x['complexNo']], axis=1)

In [10]:
trade_data_df

,idx,Unnamed: 0,id,complexNo,pyeongNo,supplyArea,pyeongName,supplyPyeong,pyeongName2,exclusiveArea,...,HF001,HF002,HT001,HT002,HT005,A01,A03,volume,distHospital,distStation
0,0,0,1,1,1,82.29,82,24.89,24,59.13,...,1,0,1,0,0,1,0,10486.0,1304.69,579.18
1,1,1,12175,1,2,89.83,89,27.17,27,69.21,...,1,0,1,0,0,1,0,10486.0,1304.69,579.18
2,2,2,23436,1,4,103.32,103,31.25,31,84.73,...,1,0,1,0,0,1,0,10486.0,1304.69,579.18
3,3,3,32899,1,3,104.86,104,31.72,31,80.80,...,1,0,1,0,0,1,0,10486.0,1304.69,579.18
4,4,4,2,10,1,55.51,55,16.79,16,37.67,...,0,1,0,0,1,1,0,26.0,634.90,519.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46304,46304,46304,12174,9999,1,44.91,44,13.58,13,36.86,...,1,0,1,0,0,1,0,18.0,1277.56,1157.16
46305,46305,46305,23435,9999,2,48.38,48,14.63,14,39.69,...,1,0,1,0,0,1,0,18.0,1277.56,1157.16
46306,46306,46306,32900,9999,4,68.92,68A,20.84,20A,56.57,...,1,0,1,0,0,1,0,18.0,1277.56,1157.16
46307,46307,46307,40281,9999,5,70.40,70B,21.29,21B,57.79,...,1,0,1,0,0,1,0,18.0,1277.56,1157.16
46308,46308,46308,45897,9999,3,72.20,72,21.84,21,59.27,...,1,0,1,0,0,1,0,18.0,1277.56,1157.16

# 3. 한강 데이터 반영 - Center

In [11]:
hangangCenterFile = open('./data/complexNo_dist_hangang-center.txt', 'r', encoding='utf-8')
hangangCenterFile = hangangCenterFile.read().split('\n')[:-1]

hangangCenterDist = {}
for content in hangangCenterFile:
    content = content.split(' ')
    hangangCenterDist[int(content[0])] = float(content[1])
print(len(hangangCenterDist))

FileNotFoundError: [Errno 2] No such file or directory: './data/complexNo_dist_hangang-center.txt'

In [20]:
trade_data_df['distHangangCenter'] = trade_data_df.apply(lambda x: hangangCenterDist[x['complexNo']], axis=1)

In [21]:
trade_data_df

,id,detailAddress,complexName,exclusiveArea,contactDate,price,floor,constructYear,roadAddress,complexNo,...,batlRatio,btlRatio,parkingCountByHousehold,constructionCompanyName,heatMethodTypeCode,heatFuelTypeCode,address,distHospital,distStation,distHangangCenter
0,0,713,브라운스톤방학아파트,84.90,2005-11-01 00:00:00,171000000,17,2003,도봉로146길 36,8824.0,...,0.0,0.0,1.18,이수건설주식회사,HT001,HF001,서울시 도봉구 방학동,2396.21,431.24,14027.70
1,1,655-2,개포2차현대아파트(220),77.75,2012-05-01 00:00:00,660000000,4,1988,언주로 103,10329.0,...,185.0,20.0,0.00,현대산업개발(주),HT002,HF001,서울시 강남구 개포동,1401.62,825.40,14356.18
2,2,655-2,개포2차현대아파트(220),77.75,2012-07-09 00:00:00,580000000,2,1988,언주로 103,10329.0,...,185.0,20.0,0.00,현대산업개발(주),HT002,HF001,서울시 강남구 개포동,1401.62,825.40,14356.18
3,3,658-1,개포6차우성아파트1동~8동,67.28,2012-12-26 00:00:00,557000000,3,1987,언주로 3,770.0,...,106.0,21.0,1.00,우성건설(주),HT001,HF001,서울시 강남구 개포동,2020.72,1155.09,5398.67
4,4,658-1,개포6차우성아파트1동~8동,54.98,2010-01-28 00:00:00,660000000,3,1987,언주로 3,770.0,...,106.0,21.0,1.00,우성건설(주),HT001,HF001,서울시 강남구 개포동,2020.72,1155.09,5398.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
917903,1155867,450,한신1차,50.37,2019-12-20 00:00:00,"38,000",16,1997,동일로 752,824.0,...,376.0,20.0,1.00,한신공영,HT001,HF001,서울시 중랑구 중화동,1562.43,345.75,8177.57
917904,1155868,450,한신1차,50.37,2019-12-21 00:00:00,"41,000",13,1997,동일로 752,824.0,...,376.0,20.0,1.00,한신공영,HT001,HF001,서울시 중랑구 중화동,1562.43,345.75,8177.57
917905,1155869,450,한신1차,84.87,2019-12-30 00:00:00,"58,800",20,1997,동일로 752,824.0,...,376.0,20.0,1.00,한신공영,HT001,HF001,서울시 중랑구 중화동,1562.43,345.75,8177.57
917906,1155881,274-51,한영(101),84.69,2019-09-03 00:00:00,"35,000",7,2003,동일로144길 74,18519.0,...,294.0,58.0,1.01,(주)세광종합건설,HT001,HF001,서울시 중랑구 중화동,1543.98,512.46,7661.62
917907,1155883,11,현대휴앤미,82.17,2019-01-31 00:00:00,"34,500",7,2007,봉화산로27가길 23,105704.0,...,0.0,0.0,1.26,"(주)리치건설,주식회사대주이엔씨",HT001,HF001,서울시 중랑구 중화동,1591.33,478.43,8866.06

# 4. 한강 데이터 반영 - top+bottom

In [12]:
hangangTopBottomFile = open('./data/complexNo_dist_hangang-top+bottom.txt', 'r', encoding='utf-8')
hangangTopBottomFile = hangangTopBottomFile.read().split('\n')[:-1]

hangangTopBottomDist = {}
for content in hangangTopBottomFile:
    content = content.split(' ')
    hangangTopBottomDist[int(content[0])] = float(content[1])
print(len(hangangTopBottomDist))

8812

In [13]:
trade_data_df['distHangangTopBottom'] = trade_data_df.apply(lambda x: hangangTopBottomDist[x['complexNo']], axis=1)

In [14]:
trade_data_df.tail(20)

,idx,Unnamed: 0,id,complexNo,pyeongNo,supplyArea,pyeongName,supplyPyeong,pyeongName2,exclusiveArea,...,HF002,HT001,HT002,HT005,A01,A03,volume,distHospital,distStation,distHangangTopBottom
46289,46289,46289,62666,998,15,164.54,164,49.77,49,107.01,...,0,1,0,0,0,1,26.0,1004.71,358.46,5095.33
46290,46290,46290,63062,998,16,169.10,169,51.15,51,109.98,...,0,1,0,0,0,1,26.0,1004.71,358.46,5095.33
46291,46291,46291,63401,998,17,174.50,174,52.78,52,113.49,...,0,1,0,0,0,1,26.0,1004.71,358.46,5095.33
46292,46292,46292,12169,9984,1,85.86,85,25.97,25,59.74,...,0,1,0,0,1,0,2678.0,1104.23,430.52,3101.29
46293,46293,46293,23431,9984,2,109.53,109A,33.13,33A,84.54,...,0,1,0,0,1,0,2678.0,1104.23,430.52,3101.29
46294,46294,46294,32898,9984,3,109.53,109B,33.13,33B,84.54,...,0,1,0,0,1,0,2678.0,1104.23,430.52,3101.29
46295,46295,46295,12170,9986,1,104.61,104,31.64,31,84.69,...,0,1,0,0,1,0,75.0,757.82,453.68,6603.29
46296,46296,46296,23432,9986,2,110.54,110,33.43,33,84.86,...,0,1,0,0,1,0,75.0,757.82,453.68,6603.29
46297,46297,46297,12171,9992,2,96.57,96,29.21,29,84.93,...,0,1,0,0,1,0,26.0,2302.25,178.70,4547.00
46298,46298,46298,23433,9992,3,182.79,182,55.29,55,160.70,...,0,1,0,0,1,0,26.0,2302.25,178.70,4547.00
46299,46299,46299,12172,999,1,37.42,37,11.31,11,27.61,...,0,1,0,0,1,0,538.0,1140.30,95.39,2563.63
46300,46300,46300,12173,9988,1,75.19,75,22.74,22,59.59,...,0,1,0,0,1,0,65.0,2566.35,1186.75,4891.26
46301,46301,46301,23434,9988,2,100.06,100A,30.26,30A,79.30,...,0,1,0,0,1,0,65.0,2566.35,1186.75,4891.26
46302,46302,46302,32897,9988,3,100.76,100B,30.47,30B,79.86,...,0,1,0,0,1,0,65.0,2566.35,1186.75,4891.26
46303,46303,46303,40280,9988,4,107.24,107,32.44,32,84.99,...,0,1,0,0,1,0,65.0,2566.35,1186.75,4891.26
46304,46304,46304,12174,9999,1,44.91,44,13.58,13,36.86,...,0,1,0,0,1,0,18.0,1277.56,1157.16,3598.10
46305,46305,46305,23435,9999,2,48.38,48,14.63,14,39.69,...,0,1,0,0,1,0,18.0,1277.56,1157.16,3598.10
46306,46306,46306,32900,9999,4,68.92,68A,20.84,20A,56.57,...,0,1,0,0,1,0,18.0,1277.56,1157.16,3598.10
46307,46307,46307,40281,9999,5,70.40,70B,21.29,21B,57.79,...,0,1,0,0,1,0,18.0,1277.56,1157.16,3598.10
46308,46308,46308,45897,9999,3,72.20,72,21.84,21,59.27,...,0,1,0,0,1,0,18.0,1277.56,1157.16,3598.10

# 5. 최종 File out

In [15]:
# 저장
trade_data_df.to_csv('./result/complexNo_additional.csv')